body {
    background-color: #111111;
    color: aquamarine;
  }
  .site-layout-content {
    background: #111111;
    padding: 24px;
    min-height: 280px;
    height: 71vh;
  }
  .menuLan {
    color: aliceblue;
  }
  .menuLan:hover {
    color: black
  }
  #components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }